form{
    text-align: center;
    margin: 20px 0px 30px 0px;
    
}

input{
    width: 300px;
    height: 40px;
    font-size: 1.3rem;
    padding: 4px;
    margin: 0px 3px;
    border-radius: 5px;
    
}

button{
    width: 100px;
    height: 40px;
    font-size: 1.3rem;
    background-color: rgb(173, 4, 24);
    color: white;
    border-radius: 5px;
}

button:hover{
    
    background-color: white;
    color:  rgb(173, 4, 24);
}